

body {
  background:#f0f0f0;
  position: relative;
  top: -40px;
}
.head {
  display: grid;
  grid-template-columns: 180px 1fr 180px;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  background-color: grey;
  
}

.head__title {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  padding: 10px;
  padding-top: 60px;
  margin: 0;
  text-align: center;
  width: auto;
  height: 40px;
  font-size: 3em;
}

.head__nav {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-template-rows: 40px;
  padding-top: 40px;
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  }

.head__nav__cms {
  grid-column: 1 / span 1;
}

.head__nav__up {
  grid-column: 2 / span 1;
}

.head__nav__play {
  grid-column: 3 / span 1;
}

.head__nav__control {
  grid-column: 4 / span 1;
}

.head__subnav {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 150px;
  grid-template-rows: 30px 30px;
  padding-top: 40px;
  align-items: center;
  justify-content: center;

}
.head__subnav-user {
  grid-row: 1 / 1;
  padding-top: 10px;
  font-size: 1em;
  padding-right: 15px;
  padding-left: 10px;
}

.head__subnav-logout {
  grid-row: 2 / 2;
  padding-top: 10px;
  font-size: 1em;
  text-decoration: none;
  text-align: left;
  padding: 5px 0px 5px 10px;
  margin: 0px 250px 0px 0px
}

.head__nav--link {
  text-decoration: none;
  border: 1px dashed #fff;
  padding: 5px 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: black;
}

.head__nav--link:hover {
  box-shadow: 1px 2px 2px 1px black;
  color: black;
}

.container {
  display: grid;
  grid-area: card;
  grid-column: 2 / auto;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 20px;
  padding-top: 20px;
}

.card__box-img {
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
  width: 100%;
}

.card__box--src {
  height: 141px;
  width: 100%;
}

.card__box {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
}

.card__box .card__box-img {
  max-width: 100%;
}

.card__box-text {
  padding: 10px 10px 10px;
  box-shadow: 1px 2px 2px 0px;
  border: 1px solid;
  margin: 2px;

}


.card__box--text:hover {
  background-color: #eee;
}

textarea {
  width: 99%;
  resize: none;
  border: none;
}

.card__box-btn {
  margin: 3px;
  border: 1px solid;
}

.card__box-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 7px;
  list-style-type: none;
  text-align: left;
  border: 1px solid;
  height: 80px;
  
  background: rgb(221, 220, 220);
  border: 1px;
  color: white;
  width: 100%;
}


.edit {
  grid-area: ed;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  
}

.cancel {
  grid-area: can;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.save {
  grid-area: sav;
  grid-column: 3 / 3;
  grid-row: 1 / 1;

}

.delete {
  grid-area: del;
  grid-column: 1 / 1;
  grid-row: 2 / 2;

}

.card__box--link {
  text-align: center;
  padding-top: 10px;
  color: black;
  text-decoration: none;
  width: 100%;
}  

.card__box--link:hover {
  box-shadow: .5px .5px 1px .5px;
}

.card__box:hover {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}




