.upload {
  padding: 20px;
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  
  }

.upload {
  display: grid;
  align-content: left;
  justify-content: left;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 141px 141px 80px;
  grid-gap: 15px;
  
}

.upload__box {
  display: grid;
  grid-column: 2 / span 2;
  grid-row: 1 / span 3;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid;
  grid-template-areas: 
  "hd"
  "cho"
  "img"
  "msg"
  "up";
}

@media ( min-width: 700px) {
  .upload__box {
    
    grid-template-areas: 
      "hd hd"
      "cho img"
      "up msg";
  }
}

h2 {
  grid-area: hd;
  text-align: center;
}

.upload__input--hide{display:none;}

.upload__preview-img {
  grid-area: img;
  border: .5px solid;
  justify-content: center;
  align-items: center;
  height: 141px;
  text-align: left;
  text-indent: 10px;
  text-justify: 20px;
}

.upload__choose-text {
  padding: 5px;
}

.upload__up-text {
  padding: 5px;
}

.upload__btn {
  grid-area: up;
}
.upload__btn--up {
  margin: 0 auto;
  margin-top: 68px;
  margin-bottom: 30px;
  margin-right: 10px;
  padding: 7px;
  font-size: 17.5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px dashed;
  text-align: center;
  }

.upload__btn--up:hover {
  box-shadow: 1px 2px 2px 0px;
}

.upload__btn-choose {
  grid-area: cho;
}

.upload__text {
  grid-area: msg;
  border: .5px solid;
}

.upload__btn--choose:hover {
  box-shadow: 1px 2px 2px 0px;
}

.upload__btn--choose {
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 30px;
  margin-right: 10px;
  padding: 3px;
  font-size: 17.5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px dashed;
  text-align: center;
  }