.upload {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  grid-template-rows: 150px 700px;
  text-align: center;
  height: 100px;
  background-color: grey;
  
  right: 0;
  left: 0;
  grid-gap: 20px;
}

.upload-header {
  grid-area: hd;
  text-align: center;
  height: 100px;
  background-color: grey;
  padding: 30px;
  position: fixed;
  right: 0;
  left: 0;
}

.upload-wrapper {
  width: 800px;
  margin: 0 auto;
}

.upload-wrapper > {
  position: fixed;
  right: 0;
  left: 0;
  background-color: rgb(80, 79, 79);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.upload-wrapper > .nav > ul > li {
  color: white;
  padding: 0px 20px;
 }

.upload-wrapper > .nav > ul li {
  display: inline-block;
}

.upload-wrapper > .nav > ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  border: 1px dashed #fff;
  text-decoration: none;
}  

ul li:hover a {
  box-shadow: 0 2px 2px 1px black;
}

.upload-wrapper {
  width: 800px;
  margin: 0 auto;
}

.upload-header {
  grid-column: 1 / span 3;
  grid-row: 1 / auto;
  height: 0 80px;
}

.upload-header > h2 {
  text-align: center;
}

.upload-main {
  padding: 20px;
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  overflow: auto;
  }

.box {
  display: grid;
  grid-template-rows: 100px 80px 141px 80px;
  grid-template-columns: 290px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  border: 1px solid;
  margin-right: 250px;
  margin-left: 250px;
  }



.hide{display:none;}

.btn {
  display: inline-block;
  padding: 4px 12px;
  padding-right: 20px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  border: 2px dashed black;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  }

.tiny {
  padding: 2px;
  margin-top: 1px;
}

.btn {
border-color: #c5c5c5;
border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.box > h2 {
  grid-row: 1 / 1;
}

.box > img {
  grid-row: 3 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-left: 60px;
  margin-bottom: 10px;
  width: 170px;
  text-align: center;
}

.btn-up {
  grid-row: 4 / 4;
  border: 1px dashed;
  display: flex;
  align-items: center;
  margin: 20px;
  margin-left: 60px;
  margin-bottom: 10px;
  width: 130px;
  text-align: center;
}

.btn-up:hover {
  box-shadow: 1px 2px 2px 0px;
}

.btn-choose {
  grid-row: 2 / 2;
  border: 1px dashed;
  display: flex;
  align-content: stretch;
  margin: 20px;
  margin-left: 60px;
  margin-bottom: 10px;
  width: 130px;
  text-align: center;
}

.btn-choose:hover {
  box-shadow: 1px 2px 2px 0px;
}

.btn-large {
padding: 11px 19px;
font-size: 17.5px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}