extends layout

block content
  
  .container
    each t in cms 
      .card__box
          .card__box-img
            img(class="card__box--src" src="../uploads/thumbs/" + (t.imageThumb))
          |       
          .card__box-text
            textarea(class="card__box--text", id=(t._id) rows='8', required='', readonly='', placeholder='Enter Description Here') #{t.description}
          | 
          .card__box-btn      
            .card__box-nav
              a(class="edit card__box--link" name='edit', href='#') Edit
              a(class="cancel card__box--link" name='cancel' href='#') Cancel
              a(class="save card__box--link" name='save' href='#') Save
              a(class="delete card__box--link" name='delete', href='#') Delete
  script(type="text/javascript", src="/javascripts/cms.js")
                  
      
