

body {
  background:#f0f0f0;
  position: relative;
  top: -40px;
}

.head {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: grey;
  
}

.head__title {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  padding: 10px;
  padding-top: 60px;
  
}

.head__nav {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-template-rows: 1fr;
  padding-top: 40px;
  padding-bottom: 5px;
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
  
  
  
}

.head__nav__cms {
  grid-column: 1 / span 1;
  padding-left: 30px;
  padding-right: 30px;
}

.head__nav__up {
  grid-column: 2 / span 1;
  
}

.head__nav__play {
  grid-column: 3 / span 1;
}

.head__nav__control {
  grid-column: 4 / span 1;
}

.head__nav--link {
  text-decoration: none;
  border: 1px dashed #fff;
  padding: 5px 10px
}

.head__nav--link:hover {
  box-shadow: 1px 2px 2px 1px black;
}


.wrapper {
  width: 800px;
  margin: 0 auto;
}

.wrapper > {
  position: fixed;
  right: 0;
  left: 0;
  background-color: rgb(80, 79, 79);
}

.wrapper > .nav-top {
  color: white;
  padding: 0px 20px;
 }

.nav-top > a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  border: 1px dashed #fff;
  text-decoration: none;
}  

a:hover {
  box-shadow: 0 2px 2px 1px black;
}

div > .section {
  padding: 180px;
}

h2 {
  text-align: center;
  width: auto;
  height: 40px
}

.section {
  display: grid;
  grid-area: card;
  grid-column: 2 / auto;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 20px;
}

img {
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
  width: 100%;
}
.section > .card {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
}

.section > .card .img-box {
  max-width: 100%;
}

.text-box {
  padding: 20px 20px 20px;
  box-shadow: 1px 2px 2px 0px;
  border: 1px solid;
  margin: 2px;
}

.text-box .btn-box {
  background: gray;
  border: 0px;
  color: white;
  padding: 10px;
  width: 100%;
}

.text:hover {
  background-color: #eee;
}

textarea {
  width: 99%;
  resize: none;
  border: none;
}

.nav1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 7px;
  list-style-type: none;
  text-align: left;
  border: 1px solid;
  height: 80px;
  padding-top: 15px;
  padding-left: 3px;
}


.edit {
  grid-area: ed;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  
}

.cancel {
  grid-area: can;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.save {
  grid-area: sav;
  grid-column: 3 / 3;
  grid-row: 1 / 1;

}

.delete {
  grid-area: del;
  grid-column: 1 / 1;
  grid-row: 2 / 2;

}

.btn-box > .nav1 > span > a {
  padding: 10px 20px;
  color: black;
   text-decoration: none;
}  

a:hover {
  box-shadow: 1px 1px 1px 1px;
}
/*
.btn-box > .nav1 > ul {
  text-align: left;
  padding-top: 5px;
}



.btn-box > .nav1 > ul > li a {
  display: block;
 }

.btn-box > .nav1 > ul > li{
  display: inline-block;
 }

 .btn-box > .nav2 > ul > li a {
  display: block;
  
 }

.btn-box > .nav2 > ul > li {
  display: inline-block;
 
 }*/



/* .btn-box > .nav2 > ul > li a {
  padding: 10px 20px;
  color: black;
  
  text-decoration: none;
}  */

 




